  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="well">
        <h2 class="page-header text center">Contact us</h2>
          <h3 id="notice"><%= notice %></h3>

<%= form_for @message, url: contact_path do |message_form| %>
    <div class="form-group">
      <%= message_form.text_field :name, placeholder: "Name", class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= message_form.email_field :email, placeholder: "Email", class: "form-control"%>
    </div>
    
    <div class="form-group">
      <%= message_form.text_area :content, placeholder: "Message", class: "form-control"%>
    </div>
  
    <div class="field">
      <%= message_form.submit "Send", class: "btn btn-default btn-lg btn-block"  %>
    </div>
<% end %>

    </div>
  </div>
</div>