  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="well">

        <%= form_for(@profile) do |f| %>
        <% if @profile.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :firstname, 'First Name' %><br>
    <%= f.text_field :firstname, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :lastname, 'Last Name' %><br>
    <%= f.text_field :lastname, class: "form-control"  %>
  </div>

  <% if current_user.admin? %>
    <div class="field">
    <%= f.label :has_tin, 'Tin Whistle' %><br>
    <%= f.radio_button :has_tin, "0" %> No
    <%= f.radio_button :has_tin, "1" %> Yes
  </div>
    <div class="field">
    <%= f.label :has_bod, 'Bodhran' %><br>
    <%= f.radio_button :has_bod, "0" %> No
    <%= f.radio_button :has_bod, "1" %> Yes
  </div>
    <div class="field">
    <%= f.label :has_mand, 'Mandolin' %><br>
    <%= f.radio_button :has_mand, "0" %> No
    <%= f.radio_button :has_mand, "1" %> Yes
  </div>
    <div class="field">
    <%= f.label :has_fiddle, 'Fiddle' %><br>
    <%= f.radio_button :has_fiddle, "0" %> No
    <%= f.radio_button :has_fiddle, "1" %> Yes
  </div>
  <% end %>

  <!-- hiding user field to always match user id with profile id -->
  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit"Update Profile", class: "btn btn-default btn-lg btn-block"  %>
  </div>
<% end %>
</div>
</div>
</div>

