<p id="notice"><%= notice %></p>

<h1>All Profiles </h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Tin whistle</th>
      <th>Bodhran</th>
      <th>Mandolin</th>
      <th>Fiddle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.firstname %></td>
        <td><%= profile.lastname %></td>
        <td><%= profile.has_tin %></td>
        <td><%= profile.has_bod %></td>
        <td><%= profile.has_mand %></td>
        <td><%= profile.has_fiddle %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
