
<!-- Sidebar only showing tutorials signed in user has access too -->
    <div class="row">
      <div class="col-md-2">
        <div class="sidebar">
            <h3>My Tutorials</h3>
              <ul>
                <% if @profile.has_bod %>
                <li>Bodhran</li>
                <% end %>
                <% if @profile.has_tin %>
                <li>Tin Whistle</li>
                <% end %>
                <li>Tenor Banjo</li>
                <li>Mandolin</li>
                <li>Irish Guitar</li>
              </ul>
        </div>
      </div>
		  <div class="col-md-6">
		  <h3>
  		  	<strong>Profile:</strong>
  			  <%= @profile.firstname %> <%= @profile.lastname %>
            <h3 id="notice"><%= notice %></h3>
		  </h3>
        <% if @profile.has_bod %>
          <h3>Bodhran tutorial </h3>
          <%= video_tag('https://s3-eu-west-1.amazonaws.com/waltvideos1/Bodhran+Basics_preview.mp4', :type => "video/mp4", :size => "720x480", :controls => true) %>
         <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <% if @profile.has_tin %>
          <h3> Tin whistle Tutorial </h3>
          <%= video_tag('https://s3-eu-west-1.amazonaws.com/waltvideos1/Waltons+tin+whistle.mp4', :type => "video/mp4", :size => "720x480", :controls => true) %>
        <% end %>
      </div>
    </div>

