<div class="row">
	<div class="col-md-12 text centre">
			<div class="jumbotron">
				<h1>Waltons Music Online Tutorials</h1>
        <h3 id="notice"><%= notice %></h3>
			</div>
		</div>
	</div>


	<!-- modified theme code from www.bootstrap.com -->
	<div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/assets/bodhome.jpg" width="140" height="140">
          <h2>Tutorials</h2>
          <p>A range of tutorials, from begineers first lesson, to experienced players advanced techniques. Instruments include, Tin whistle, Bodhran, Fiddle, Guitar, Mandolin and Banjo</p>
          <%= link_to "View Tutorials", tutorials_path, :class =>"btn btn-default" %>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <img class="img-circle" src="/assets/instcare.jpg" width="140" height="140">
          <h2>Instrument Care</h2>
          <p>We’ve put together some tips on basic musical instrument care and maintenance. Not only will proper instrument care teach budding musicians responsibility, it will also ensure they stay excited and motivated to continue on their musical paths.</p>
           <%= link_to "Instrument Care", instrument_care_path, :class =>"btn btn-default" %>
        </div><!-- /.col-lg-4 -->

        
        <div class="col-lg-4">
          <img class="img-circle" src="/assets/mandhome.jpg" width="140" height="140">
          <h2>Getting Started</h2>
          <p>Sign up for free to gain access to the full list of tutorials and watch previews for all available courses.</p>
          <%= link_to "Sign Up", new_user_registration_path, :class =>"btn btn-default" %>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Our latest video - <span class="text-muted">Bodhran Tutorial for Beginners</span></h2>
          <p class="lead">A perfect tutorial for bodhran beginners, by Conor Long. Learn to play your first basic strokes and accompany tunes with Conor Long who takes you through everything from holding the instrument correctly to your first strokes to dampening and rimshots, to your first reels and jigs. It's easier than you think!</p>
        </div>
        <div class="col-md-5">
         <%= video_tag('https://s3-eu-west-1.amazonaws.com/waltvideos1/Bodhran+Basics_preview.mp4', :type => "video/mp4", :size => "320x240", :controls => true) %>
        </div>
      </div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
		</div>
		<div class="col-md-2">
			<a class="twitter-timeline"
  						href="https://twitter.com/newschool_ie">
					Tweets by @newschool_ie
			</a>
		</div>
	</div>
