      <div class="row">
        <div class="col-md-2">
          <div class="sidebar">
              <h3>Tutorials</h3>
                <ul>
                <!-- generate links for each tutorial, linking to generated id's -->
                <% @tutorials.each do |tutorial| %>
                  <li tutorials><%= link_to tutorial.title, { controller: :tutorials, action: :index, :anchor => tutorial.title }  %>
                  <% end %>
                </ul>
          </div>
        </div>
        <div class ="col-md-10">
            <div class="jumbotron">
              <h1>Tutorials</h1>
                  <h4>Choose from a wide range of tutorials available, buy or enter your voucher code to gain access to stream full videos</h4>
                  <h3 id="notice"><%= notice %></h3> 
            </div>
        </div>
      </div>
          <% @tutorials.each do |tutorial| %>
            <!-- passing tutorial title to id to generate anchor for sidebar -->
            <div class="row" id="<%=tutorial.title%>" >
            <!-- empty column for sidebar space -->
              <div class="col-md-2">
              </div>
              <!-- tutorial title and image -->
                <div class="col-md-2">
                <h3><%= tutorial.title %></h3>
                <%= image_tag(tutorial.image_url, :class => "list_image") %>
              </div>

              <div class="col-md-4">
                <p class="tutorial_p"><%= tutorial.description %></p>
                  <h4>Enter voucher number or pay with card to add to account</h4>
                    <!-- passing tutorial id with charge to assign payment to a tutorial -->
                    <%= form_tag tutorial_charges_path(tutorial.id) do %>
                      <article>
                        <% if flash[:error].present? %>
                          <div id="error_explanation">
                            <p><%= flash[:error] %></p>
                          </div>
                        <% end %>
                        <label class="amount">
                          <span>Amount: €5.00</span>
                        </label>
                      </article>
                      
                     <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                      data-description="Once off payment for tutorial"
                      data-amount="500"
                      data-locale="auto"></script>
                      <% end %>                  

                    <%= form_for(@campaign, url: redeem_code_campaign_path(tutorial.id), method: :put) do |f| %>
                    <div class="field">
                    <%= text_field_tag :code %>
                    </div>
                    <!-- passing tutorial.id with form submittion to assoiate code redeem with selected tutorial -->  
                    <%= f.hidden_field :tutorial_id, :value => tutorial.id %>
                    <div class="actions">
                    <%= f.submit "Redeem Code", class: "btn btn-default btn-md" %>
                    </div>
                    <% end %>
              </div>
                    
              <div class="col-md-4"> 
                  <h4>Video Preview</h4>  
                  <%= video_tag(tutorial.preview_url, :type => "video/mp4", :size => "320x240", :controls => true) %>
              </div>
                      
                <% if current_user.admin? %>
                    <td><%= link_to 'Show', tutorial %></td>
                    <td><%= link_to 'Edit', edit_tutorial_path(tutorial) %></td>
                    <td><%= link_to 'Destroy', tutorial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% end %>
            </div>
        <% end %>
      <% if current_user.admin? %>
        <%= link_to 'New Tutorial', new_tutorial_path %>
      <% end %>
