<p id="notice"><%= notice %></p>

  <div class="container">
        <div class="row">
          <h1 class="text-centre">Tutorials</h1>
        </div>
    </div>
    
    <% @tutorials.each do |tutorial| %>
      <div class="container">
        <div class="row">
          <div class="col-xs-3">
            <h3><%= tutorial.title %></h3>
            <%= image_tag(tutorial.image_url, :class => "list_image") %>
          </div>
          <div class="col-xs-9">
            <%= sanitize(tutorial.description) %>
              <h4><%= number_to_currency(tutorial.price, unit: "€") %></h4> 
              <h4>Video Privew</h4>  
              <%= video_tag(tutorial.preview_url, :size => "320x240", :controls => true) %>

              <td><%= link_to 'Show', tutorial %></td>
              <td><%= link_to 'Edit', edit_tutorial_path(tutorial) %></td>
              <td><%= link_to 'Destroy', tutorial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </div>
          </div>
      </div>
    <% end %>
  </tbody>
  </div>
  </div>
</table>

<br>
<% if current_user.admin? %>
<%= link_to 'New Tutorial', new_tutorial_path %>
<% end %>
