<!DOCTYPE html>
<html>
<head>
  <title>Waltons Online</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

	<!-- bootstrap navbar header -->
	<header class="navbar navbar-inverse">
		<div class="navbar-inner">
			<div class="container"> 
				<div class="row">
					<div class="col-md-12">
					<%= link_to "Waltons Music Online Tutorials", home_index_path, class: "navbar-brand" %>
						<ul class="nav navbar-nav">
							<li><%= link_to "Home", home_index_path %></li>
							<li><%= link_to "Tutorials", tutorials_path %></li>
							

							<% if user_signed_in? %>
							<li><%= link_to "My Profile", signedinuserprofile_path %></li>
							<% end %>

							<% if user_signed_in? %>
							<li><%= link_to "Instrument Care", instrument_care_path %></li>
							<% end %>

							<% if user_signed_in? && current_user.admin? %>
							<li><%= link_to "Code Management", code_mngr_index_path %></li>
							<% end %>

							<% if user_signed_in? && current_user.admin? %>
							<li><%= link_to "Profile Management", profiles_path %></li>
							<% end %>

						</ul>	
					<ul class="nav navbar-nav navbar-right">
							<li><%= link_to "Contact Us", contact_path %></li>
							<% if user_signed_in? %>
							<li><%= link_to destroy_user_session_path, :method => :delete do %>
								<i class="glyphicon glyphicon-log-out"></i> Sign out [<%= current_user.email %>]
							<% end %>
							</li>
						<% else %>
							<li><%= link_to new_user_session_path do %>
								<i class="glyphicon glyphicon-log-in"></i> Sign in
							<% end %>
							</li>
							<li><%= link_to new_user_registration_path do %>
								<i class="glyphicon glyphicon-user"></i> Create Account
							<% end %>
							</li>							
							<% end %>
					</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
		<div class="container">
			<%= yield %>
				<%= render 'layouts/footer' %>
		</div>
	</body>
</html>
